!.gitignore

/sublime_text/Packages/User/Package\ Control.cache/*
/sublime_text/Packages/User/Package\ Control.last-run
/tmux/resurrect/
/tmux/plugins/
/vim/netrwhist
/vim/dein/repos/github.com/Shougo/dein.vim/.git
